:root {
  font-size: 16pt;
}

.App {
  width: 95vw;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 16px;
}

.navigation {
  width: 100%;
  background: cornflowerblue;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.taxCalc {
  width: 95vw;
}

.taxCalcForm input,
button {
  margin: 8px;
}

.addCarForm {
  display: grid;
  flex-direction: column;
  width: 80vw;

}

.addCarForm input {
  width: 80vw;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.add-car {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}